.container {
  padding: 15px;
}

.data-list {
  border: 1px solid rgb(134, 134, 134);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 6px;
  overflow: auto;
  height: 300px;
}

.data-item {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(134, 134, 134);
  padding: 2px 5px;
}
.data-item-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(134, 134, 134);
  padding: 10px 5px;
  font-size: 18px;
  font-weight: 600;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

.item-info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.flex-1 {
  flex: 1;
}
.padding {
  padding: 10px 5px;
}

.no-padding-top {
  padding-top: 0;
}
