<div class="container">
  <h1>Predicción pasajeros cancún.</h1>
  <!-- <form [formGroup]="form" class="row">
    <ng-container *ngFor="let mes of meses">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>{{ mes }}</mat-label>
          <input [formControlName]="mes" matInput type="number" />
        </mat-form-field>
      </div>
    </ng-container>
  </form> -->
  <form [formGroup]="formMes" action="">
    <div class="row">
      <div class="col-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Pasajeros</mat-label>
          <input formControlName="pasajeros" matInput type="number" />
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes">
            <mat-option *ngFor="let mes of meses" [value]="mes">{{
              mes | titlecase
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 d-flex align-items-center">
        <button color="primary" mat-raised-button (click)="addPasajero()">
          +
        </button>
      </div>
    </div>
  </form>

  <div class="data-list">
    <ng-container *ngFor="let pasajero of pasajeros; let i = index">
      <div class="data-item">
        <div class="item-info">
          <span>{{ pasajero.mes }}</span>
          <span>{{ pasajero.pasajeros }}</span>
        </div>
        <button mat-icon-button (click)="removePasajero(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <div class="row m-4 d-flex align-items-center justify-content-center">
    <button color="primary" mat-raised-button (click)="getPasajeros()">
      Calcular
    </button>
  </div>

  <div *ngIf="resPasajeros" class="data-list no-padding-top">
    <div class="data-item-header">
      <ng-container *ngFor="let columnName of ColumnNames"
        ><span class="flex-1">{{ columnName }}</span>
      </ng-container>
    </div>

    <ng-container *ngFor="let value of Values">
      <div class="data-item padding">
        <ng-container *ngFor="let val of value">
          <span class="flex-1">{{ val }}</span>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
